h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,th,p,a,li,td,div,footer{font:normal 12px "Open Sans", "Lucida Sans Unicode", "Arial";color:#000;}
.pw1000{ max-width:1000px; width:92%; margin-left:auto; margin-right:auto;}
.pw1200{ max-width:1200px; width:92%; margin-left:auto; margin-right:auto;}


/*banner*/
.idxbanner{ width:100%; height:641px; background:url(../img/idxbanbg.jpg) #232937 top center no-repeat; background-size:cover; overflow:hidden;}
.idxbanwrap>img{ display:inline-block; vertical-align:middle; margin-left:-50px; margin-right:20px;}
.idxban-word{ width:410px; display:inline-block; vertical-align:middle;}
.idxban-word h1{ font-size:48px; line-height:1.35; font-weight:800; color:#fff;}
.idxban-word p{ font-size:22px; line-height:1.5; margin-top:10px; color:rgba(255,255,255,0.9); font-weight:400;}
.dlbtn{ width:288px; height:64px; background: #FFA425; border-radius: 8px; line-height:64px; text-align:center; font-size:22px; color:#fff; font-weight:700; position:relative; text-decoration:none;}
.dlbtn:before{content: "\e900"; font-family: "iconfont"; display:inline-block; vertical-align:middle; margin:-4px 8px 0 0; z-index:2; position:relative; font-size:24px; margin:-4px 7px 0 0; font-weight:normal;}
.idxban-word .dlbtn{ display:block; margin-top:29px;}
.idxban-word .bree-microsoft{ margin-top:50px; display:block;}


.idxzipper{width:100%; height:529px; background:url(../img/idxzippers.jpg) #fff top center no-repeat; background-size:cover; overflow:hidden;}
.idxzip{ width:973px; margin:49px auto 0; transform:translateX(227px);}
.idxzip-text{ width:405px; margin-top:130px;}
.idxzip-text h2{ font-size:24px; line-height:1.36; font-weight:bold; margin-bottom:15px;}
.idxzip-text p{ font-size:16px; line-height:1.5; margin-bottom:20px;}

.idxsupport{ width:100%; background:#FAFAFA; text-align:center;}
.idxsup-box{ width:560px; height:400px; background:#fff; border-radius:20px; display:inline-block; vertical-align:middle; margin:59px 40px 61px;}
.idxsup-box h5{ font-size:16px; line-height:1.36; font-weight:800; margin-top:5px;}
.idxsup-box p{ max-width:460px; margin:8px auto 0; font-size:14px; line-height:1.5; font-weight:400;}

.idxftban{width:100%; height:640px; background:url(../img/idxftbanbg.jpg) #172532 top center no-repeat; background-size:cover; overflow:hidden; text-align:center;}
.idxftban h2{ font-size:64px; color:#fff; font-weight:800; line-height:1.36; margin-top:40px;}
.idxftban p{ font-size:24px; color:#fff; font-weight:400; line-height:1.36; margin-top:12px;}
.idxft-btn a{ display:inline-block; vertical-align:middle; margin:30px 20px 25px;} 

@media screen and (max-width: 1320px){
.idxbanwrap{ margin-top:100px;}
.idxbanwrap>img{ width:50%;}
.idxban-word{ width:50%;}
.idxzip{ transform:translateX(0);}
.idxsup-box{ width:440px; height:328px; margin:40px 20px;}
.idxsup-box>img{ width:220px; height:220px;}
.idxftban h2{ font-size:50px;}
}

@media screen and (max-width: 980px){
.idxbanner{ height:auto; padding:40px 0; background:#232937;}
.idxbanwrap{ margin-top:0;}
.idxbanwrap>img{ width:90%; margin:20px auto; display:block;}
.idxban-word{ width:92%; margin:20px auto; text-align:center;}
.idxban-word .dlbtn{ margin:20px auto;}
.idxzipper{ height:auto; background:#fff; padding-bottom:40px;}
.idxzip{ width:92%;}
.idxzip-img{ float:none; margin:20px auto 0; display:block; max-width:517px; width:80%;}
.idxzip-text{ width:100%; margin-top:30px; text-align:center;}
.idxsupport{ padding:30px 0;}
.idxsup-box{ width:92%; height:auto; margin:20px auto; padding-bottom:30px;}
.idxsup-box p{ width:100%; max-width:100%;}
.idxftban{ height:auto;}
.idxft-btn{ margin-top:20px;}
.idxft-btn a{ margin:10px;}
}

@media screen and (max-width: 680px){

} 
@media screen and (max-width: 568px){
.idxsup-box>img{ width:220px; height:220px;}
.bree-icon{ width:250px; height:250px;}
.idxban-word h1,.idxftban h2{ font-size:40px;}
} 
@media screen and (max-width: 325px){

} 

@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:3/2), only screen and (min-device-pixel-ratio:1.5) {
.idxbanner{background:url(../img/idxbanbg@2x.jpg) #232937 top center no-repeat; background-size:cover;}
.idxzipper{background:url(../img/idxzippers@2x.jpg) #fff top center no-repeat; background-size:cover;}
.idxftban{background:url(../img/idxftbanbg@2x.jpg) #172532 top center no-repeat; background-size:cover;}
}