@font-face {
	font-family: 'iconfont';
	src:url('icomoon.eot');
	src:url('icomoon.eot') format('embedded-opentype'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	font-display:swap;
	src:url('opensans-light-webfont.eot');
	src:url('opensans-light-webfont.eot#iefix') format('embedded-opentype'),
		url('opensans-light-webfont.ttf') format('truetype'),
		url('opensans-light-webfont.woff') format('woff'),
		url('opensans-light-webfont.svg#Open Sans') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	font-display:swap;
	src:url('opensans-regular-webfont.eot');
	src:url('opensans-regular-webfont.eot#iefix') format('embedded-opentype'),
		url('opensans-regular-webfont.ttf') format('truetype'),
		url('opensans-regular-webfont.woff') format('woff'),
		url('opensans-regular-webfont.svg#Open Sans') format('svg');
	font-weight: 400;
	font-style: normal;
}