h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,th,p,a,li,td,div,footer{font:normal 12px "Open Sans", "Lucida Sans Unicode", "Arial";color:#000;}
.pw1000{ max-width:1000px; width:92%; margin-left:auto; margin-right:auto;}
.pw1200{ max-width:1200px; width:92%; margin-left:auto; margin-right:auto;}


/*banner*/
.support_banner{ width:100%; height:460px; position:relative; overflow:hidden; z-index:1; background:url(../img/support_banner.jpg) #0c0c0c top center no-repeat; background-size:cover;}
.support_bancnt{ margin:130px auto 0; text-align:center;} 
.support_bancnt h1{font-weight: 800; font-size: 54px; line-height: 1.6; color: #FFFFFF; }
.support_search{ max-width:980px; width:92%; height:48px; margin:18px auto 0; background:#fff; border: 1px solid #E5E5E5; box-sizing: border-box; border-radius: 4px;}
.support_search>a{ width:32px; height:32px; display:inline-block; vertical-align:middle; margin-left:10px; margin-right:10px;}
.support_search>input{ width:calc(100% - 90px); height:46px; margin:0; padding:0; display:inline-block; vertical-align:middle; border:none; font-size:24px; color:#333; font-weight: normal;}
.support_search>input::placeholder{ color:#C4C4C4;}
.support_link span,.support_link a{font-size: 16px; line-height: 19px; color: #FFFFFF; margin:5px 10px; display:inline-block;}
.support_link a{ text-decoration:underline;}


.support_sec1{width:100%; height:680px; position:relative; overflow:hidden; z-index:1; background:url(../img/support_sec1bg.jpg) #0c0c0c top center no-repeat; background-size:cover;}
.support_secresour{ max-width:400px; padding:40px 30px; width:100%; background:#fff; border-radius:0 0 60px 0;}
.support_secresour h2{font-style: normal; font-weight: normal; font-size: 36px; line-height: 1.2; color: #000000;}
.support_secresour h2 span{ font-size:inherit; font-weight:bold; color:#536dfe; font-family: auto;}
.support_resourlink{ margin-top:20px; border: 1px solid #F2F3F4; box-sizing: border-box; border-radius: 4px; position:relative; transition:all linear 0.3s;}
.support_resourlink:hover{ transform:translateY(-5px); box-shadow:0 3px 20px rgba(0,0,0,0.2);}
.support_resourlink>img{ width:48px; height:48px; margin:8px 20px 8px 16px; display:inline-block; vertical-align:middle;}
.support_resourlink .support_resourtext{ width:calc(100% - 102px); display:inline-block; vertical-align:middle;}
.support_resourlink .support_resourtext h5{ font-size:20px; line-height:1.2; color: #000000; font-weight: 800;}
.support_resourlink .support_resourtext p{ font-size:18px; line-height:1.2; color: #000000; margin-top:4px;}
.support_resourlink>a{ position:absolute; left:0; top:0; display:block; z-index:2; width:100%; height:100%;}

.support_sec2{width:100%; height:651px; position:relative; overflow:hidden; z-index:1; background:url(../img/support_bg3.jpg) #fff top center no-repeat; background-size:cover;}
.support_update{ margin:134px auto 0; background:#fff;}
.support_update>img{ max-width:510px; height:auto; display:inline-block; vertical-align:middle; width:42.5%; margin:25px 45px;}
.support_updatetxt{ width:calc(57.5% - 180px); display:inline-block; vertical-align:middle;}
.support_updatetxt h4{ font-size:36px; line-height:1.6; color: #000000; font-weight: 800;}
.support_updatetxt p{ font-size:20px; line-height:1.6; color: #000000; margin-top:20px;}

.support_sbtn a{ display:inline-block; vertical-align:middle; transition:transform 0.3s linear; margin-top:10px;}
.support_sbtn a:hover{ transform:translateY(-5px);}
.support_sbtn .idxmicro{ width:167px; height:60px; display:inline-block; margin-right:12px;}
.support_sbtn .idx_dlbtn{ width:288px; height:60px; background: #536DFE; font-size:20px; line-height:60px; text-align:center; color:#fff; text-decoration:none;}
.support_sbtn .idx_dlbtn img{ display:inline-block; vertical-align:middle; margin:-3px 5px 0;}

.support_sec3{ width:100%; background:#F2F3F4; overflow:hidden;}
.support_sec3mid{ margin:86px auto;}
.support_goto{ max-width:560px; width:46.7%; background:#252A48; border-radius:12px;}
.support_goto>img{ width:100%; height:auto; display:block;}
.support_gototext{ min-height:120px; padding:20px 40px;}
.support_gototext h4{ font-size:20px; line-height:1.5; color:#fff; font-weight:bold;}
.support_gototext p{ font-size:16px; line-height:1.5; color:#fff; margin-top:5px;}
.support_gototext p.support_gotolink{ margin-top:5px;}
.support_gototext p a{ font-size:inherit; color:#fff; font-weight:bold; }

.support_sec4{width:100%; height:480px; position:relative; overflow:hidden; z-index:1; background:url(../img/support_bg4.jpg) #000 top center no-repeat; background-size:cover;}
.support_sec4ans{ text-align:center; margin-top:166px;}
.support_sec4ans h2{ font-size:36px; line-height:1.6; color: #FFFFFF; font-weight: 800;}
.support_contact{ width:172px; height:60px; background:#536DFE; line-height:60px; text-align:center; font-weight: 800; font-size: 20px; color: #FFFFFF; display:block; text-decoration:none; margin:30px auto 0; transition:all linear 0.3s;}
.support_contact:hover{ color:#fff; text-decoration:none; transform:translateY(-5px);}

.searchCont{ width:100%; height:100%; z-index:15; left:0; top:0; position:fixed; display:none;}
.serch_bg{ width:100%; height:100%; background:rgba(0,0,0,0.5); display:none;}
.serch_close{ width:30px; height:30px; background:#fff; text-align:center; line-height:30px; font-size:30px; color:#333; cursor:pointer; display:block; position:absolute; right:20px; top:20px; border-radius:30px; display:none;}
.serch_results{ position:absolute; height:88%; width:88%; left:5%; top:9%; z-index:5; border: 1px solid #e5e5e5; background:#fff; box-shadow:0 0 50px rgba(0,0,0,0.2); border-radius:5px;}
.searchCont iframe{ width:100%; height:100%;}
@media screen and (max-width: 1440px){
.support_update>img{ margin:25px 30px 0 0;}
.support_updatetxt{width: calc(57.5% - 45px);}
}

@media screen and (max-width: 980px){
.support_banner,.support_sec2,.support_sec4{ height:auto;}
.support_banner{background:#0c0c0c;}
.support_bancnt,.support_sec3mid,.support_update,.support_sec4mid,.support_sec4ans{ margin:70px auto;}
.support_sec1{ height:auto;}
.support_secresour{ max-width:calc(100% - 80px); margin-bottom:50px;}
.support_update>img{ display:block; margin:20px auto;}
.support_updatetxt{ width:100%; text-align:center; margin-top:30px;}
.support_sbtn{ margin-top:20px;}
.support_goto{ max-width:700px; width:100%; margin:0 auto 20px; float:none;}
}

@media screen and (max-width: 680px){

} 
@media screen and (max-width: 568px){
.support_sec4{ background:#000;}
.support_bancnt,.support_sec3mid,.support_update,.support_sec4mid,.support_sec4ans{ margin:50px auto;}
.support_bancnt h1, .support_secresour h2,.support_sec4ans h2{ font-size:26px; line-height:1.4; }
.support_secresour{ max-width:calc(100% - 40px); padding:30px 20px 60px; border-radius:0 0 50px 0;}
.support_resourlink{ padding:8px 0;} 
.support_update>img{ width:80%;}
.support_updatetxt h4{ font-size:30px; line-height:1.2;}
.support_updatetxt p{ font-size:20px;}
.support_gototext{ padding:30px;}
.support_contact{ margin-top:30px; font-size:18px;}
} 
@media screen and (max-width: 325px){

} 