dh1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,th,p,a,li,td,div,footer{font:normal 12px "Open Sans", "Lucida Sans Unicode", "Arial";color:#000;}
.pw1200{ max-width:1200px; width:92%; margin-left:auto; margin-right:auto;}


/*banner*/
.terms_banner{ width:100%; height:300px; background:url(../img/terms_banner.jpg) #212121 top center no-repeat; position:relative; z-index:1; background-size:cover; overflow:hidden;}
.terms_bancnt{ max-width:1200px; width:92%; height:100%; margin:0 auto; position:relative;}
.terms_bantext{ width:100%; position:absolute; left:0; top:45%; transform:translateY(-50%); z-index:3;}
.terms_bantext h1{font-size:48px; color:#fff; line-height:1.6; font-weight:800;}
.terms_bantext p{font-size:20px; color:#fff; line-height:1.6; font-weight:400;}



.terms_middle h4{font-size:18px; color:#000; line-height:1.6; font-weight:700; margin-bottom:12px;}
.terms_middle h5{font-size:16px; color:#000; line-height:1.6; margin-bottom:12px;}
.terms_middle p{ font-size:16px; color:#666666; line-height:1.6; margin-bottom:24px;}
.terms_middle p>a{ font-size:inherit; color:#536DFE; text-decoration:none;}


@media screen and (max-width: 980px){
.terms_banner{ height:auto;}
.terms_bantext{ margin:50px auto; text-align:center; position:relative; top: 0; transform: translateY(0);}
.terms_bantext h1{ font-size:30px;} 
}

@media screen and (max-width: 680px){

} 
@media screen and (max-width: 568px){

} 
@media screen and (max-width: 325px){

} 